##### Basics of python:

In [5]:
c=0
c=5/2
type(c)

float

In [11]:
name,rollno,age= 'Python', 234, 23.5
print(type(name),type(rollno),type(age))

<class 'str'> <class 'int'> <class 'float'>

In [15]:
a,b=10,20
print(a,b)
a,b= b,a
print(a,b)

10 20
20 10

In [16]:
2 ** 5

32

In [18]:
pow(2,5)   #pow(basevalue,power)

32

In [ ]:
#Memership operators ---->  in, not in. 

#Identity operators -----> is, is not. (this cannot be applied to strings)

In [1]:
5 in [1,2,3,4] # Membership operator

False

In [2]:
5 is not 10  # Identity operator

True

###### Conditional Control Statements:

- if 5<6:
    - print("True")
-  else:
    - print("False")

In [5]:
# For comparing more than one condition we use elif :

if 7<6:
    print("True")
elif 6<7:
    print("True")
else:
    print("False")

True

##### Iterative Statements:
- for
- while

In [6]:
range(10)

range(0, 10)

In [13]:
list(range(2,10,2))  # (starting value, ending value, no of increments)

[2, 4, 6, 8]

In [16]:
for i in range(2,10+1,2):
    print(i,end=' ')

2 4 6 8 10

In [3]:
n=1
while n<10:
    print(n, end= " ")
    n+=1

1 2 3 4 5 6 7 8 9

In [4]:
for i in range(1,6):
    print(i, end= " ")

1 2 3 4 5

In [5]:
#without using range method

for i in 1,2,3:
    print(i, end=" ")

1 2 3

In [8]:
for i in range(10,4,-1):
    print(i, end =" ")

10 9 8 7 6 5

In [12]:
for i in "hello":
    print(i, end=" ")

h e l l o

In [14]:
print(1,2)

1 2

In [21]:
print(1,2,sep=",")   # to get the comma in between values we use sep parameter

1,2

In [22]:
print(1,2,sep=",",end=" *")
print(3,sep=";")

1,2 *3

In [26]:
n = input("Enter value: ")
print(n,type(n))

Enter value: 30
30 <class 'str'>

In [28]:
1+int("2") # for adding two different types we use type conversion

3

In [29]:
num=10
print(num)

10

In [33]:
ls=[1,10,20]
ls[2]

20

In [47]:

n=input().split()

count=len(n)
print(count)

1 3 4 5
4

In [2]:
# Another way

data=input()
count=0
for c in data.split(" "):
    count+=1
print(count)

1 2 3 4 5 6
6

In [4]:
for i in 1,2,3:
    print(i, end=" ")
print(i)

1 2 3 3

In [14]:
# 1,2,3,4,5=15(sum)
n=input()
m=n.split(",")
s=0
for i in m:
    s=s+int(i)
    count+=1
print(s)

1,2,3,4,5
15

In [22]:
#Another way using map(this is used to convert all the list values into integer at a time)

data=input()
values=data.split(",")

#Syntax of map is:  map(method_name,list_of_values)
int_values=list(map(int,values))
sum(int_values)

1,2,3

6

In [21]:
del sum   #to delete the variable sum

In [16]:
# without using map

l=['1','2','3']
r=[]
for value in l:
    r.append(int(value))
r

[1, 2, 3]

In [33]:
#1+2+5+63+3

#1

#63


n=input()
values=n.split("+")
m=list(map(int,values))
for i in m:
    if i>m:
        print(max(i))
    elif i<m:
        print(min(i))
return

1+2+65

ValueError: invalid literal for int() with base 10: '1+2+65'

In [1]:
string = input("Please enter your own String : ")

if(string == string[:: - 1]):
   print("This is a Palindrome String")
else:
   print("This is Not a Palindrome String")

Please enter your own String : madam
This is a Palindrome String

In [3]:
num = int(input("Enter a number: "))
# initialize sum
sum = 0
# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [4]:
num = int(input())

#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

10
The factorial of 10 is 3628800

In [7]:
Number = int(input("\nPlease Enter the Range Number: "))

# Initializing First and Second Values of a Series
i = 0
First_Value = 0
Second_Value = 1
           
# Find & Displaying Fibonacci series
while(i < Number):
           if(i <= 1):
                      Next = i
           else:
                      Next = First_Value + Second_Value
                      First_Value = Second_Value
                      Second_Value = Next
           print(Next,end=" ")
           i = i + 1

Please Enter the Range Number: 10
0 1 1 2 3 5 8 13 21 34